<!-- padding for Patternlab templates ONLY -->
<style>
  body {
    padding-top: 50px;
  }
</style>

<main>
  </section>
  <div class="component-container">
    <div class="latest-news-container">
      <section class="latest-news">
        <header>
          <h2 style="width: auto;">Latest News</h2>
          <div class="meta">
            <div class="customize-cta">
              <span>Based On Your Interests</span>
              <a href="/MemberProfile/?menuItem=Personalization">
                                <span>Customize</span><svg version="1.1" id="icon-customize" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 15 15" enable-background="new 0 0 15 15" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="icon-customize">
                                    <path id="icon-customize-path" fill="#006243" d="M13.6,7.5c0,0.9,0.5,1.6,1.4,2.2c-0.1,0.4-0.3,0.9-0.6,1.5
	C13.5,11,12.7,11.2,12,12c-0.7,0.7-0.9,1.5-0.6,2.4c-0.6,0.3-1.1,0.5-1.5,0.6c-0.6-1-1.4-1.4-2.3-1.4S5.7,14,5.2,15
	c-0.5-0.2-1-0.4-1.5-0.6c0.2-1,0-1.8-0.6-2.4s-1.4-0.8-2.4-0.6C0.4,10.8,0.2,10.3,0,9.8c1-0.6,1.4-1.4,1.4-2.3C1.4,6.6,1,5.9,0,5.3
	c0.2-0.6,0.4-1.1,0.6-1.5C1.5,4,2.3,3.8,3,3c0.6-0.6,0.8-1.4,0.6-2.4C4.2,0.4,4.7,0.2,5.2,0c0.6,1,1.4,1.4,2.3,1.4S9.3,1,9.8,0
	c0.5,0.2,1,0.4,1.5,0.6c-0.2,1,0,1.8,0.6,2.4c0.7,0.7,1.5,1,2.4,0.8c0.3,0.6,0.5,1.1,0.6,1.5C14,5.9,13.6,6.6,13.6,7.5z M7.5,11.3
	c1,0,1.9-0.4,2.7-1.1s1.1-1.7,1.1-2.7S11,5.6,10.2,4.8S8.5,3.7,7.5,3.7S5.6,4,4.8,4.8S3.7,6.5,3.7,7.5S4,9.4,4.8,10.2
	S6.5,11.3,7.5,11.3z"></path>
                                </svg>
                            </a>
            </div>

          </div>
        </header>

        <ul class="items">
          <li class="slick-slide">


            <a href="/policy-and-guidelines/advocacy/capitol-hill-report/">
              <h3>Capitol Hill Report</h3>
              <div class="image" style="background-image: url('/siteassets/home-page/homepage-assets/latest-news/latestnews_chr_638x320.png')"></div>
              <!--TODO: remove inline styling-->
              <div class="text" style="font-family: 'FFDINWebProRegular', Helvetica, Arial, sans-serif;">
                Opioid Epidemic Declared Public Health Emergency
              </div>
            </a>

          </li>
          <li class="slick-slide">


            <a href="http://n.neurology.org/content/89/18/1915">
              <h3>Neurology Today - November 2</h3>
              <div class="image" style="background-image: url('/siteassets/home-page/homepage-assets/latest-news/latestnews_nt_638x320.png')"></div>
              <!--TODO: remove inline styling-->
              <div class="text" style="font-family: 'FFDINWebProRegular', Helvetica, Arial, sans-serif;">
                At the Bench-Subarachnoid Hemorrhage: Spreading Depolarizations Cause Acute, Not Just Delayed, Damage in Subarachnoid Hemorrhage
              </div>
            </a>

          </li>
          <li class="slick-slide">


            <a href="/AAN-Resources/Details/press-room/current-press-release/">
              <h3>New Study </h3>
              <div class="image" style="background-image: url('/siteassets/home-page/homepage-assets/3-column-callout/03-col_breakingnews_1x.png')"></div>
              <!--TODO: remove inline styling-->
              <div class="text" style="font-family: 'FFDINWebProRegular', Helvetica, Arial, sans-serif;">
                Virtual Reality Training May Be as Effective as Regular Therapy After Stroke
              </div>
            </a>

          </li>
        </ul>


        <div class="slider-pagination"></div>
      </section>
    </div>
  </div>
  <div class="component-container">
    <div class="guidelines-container">
      <section class="guidelines">
        <header>
          <!--TODO: inline style for width on h2-->
          <h2 style="width: auto;">Guidelines &amp; Measures</h2>
          <div class="meta">
            <div class="view-all"><a href="/Guidelines">
    View All
</a></div>
            <div class="customize-cta">
              <span>Based On Your Interests</span>
              <a href="/MemberProfile/?menuItem=Personalization">
                                <span>Customize</span><svg version="1.1" id="icon-customize" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 15 15" enable-background="new 0 0 15 15" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="icon-customize">
                                <path id="icon-customize-path" fill="#006243" d="M13.6,7.5c0,0.9,0.5,1.6,1.4,2.2c-0.1,0.4-0.3,0.9-0.6,1.5
	C13.5,11,12.7,11.2,12,12c-0.7,0.7-0.9,1.5-0.6,2.4c-0.6,0.3-1.1,0.5-1.5,0.6c-0.6-1-1.4-1.4-2.3-1.4S5.7,14,5.2,15
	c-0.5-0.2-1-0.4-1.5-0.6c0.2-1,0-1.8-0.6-2.4s-1.4-0.8-2.4-0.6C0.4,10.8,0.2,10.3,0,9.8c1-0.6,1.4-1.4,1.4-2.3C1.4,6.6,1,5.9,0,5.3
	c0.2-0.6,0.4-1.1,0.6-1.5C1.5,4,2.3,3.8,3,3c0.6-0.6,0.8-1.4,0.6-2.4C4.2,0.4,4.7,0.2,5.2,0c0.6,1,1.4,1.4,2.3,1.4S9.3,1,9.8,0
	c0.5,0.2,1,0.4,1.5,0.6c-0.2,1,0,1.8,0.6,2.4c0.7,0.7,1.5,1,2.4,0.8c0.3,0.6,0.5,1.1,0.6,1.5C14,5.9,13.6,6.6,13.6,7.5z M7.5,11.3
	c1,0,1.9-0.4,2.7-1.1s1.1-1.7,1.1-2.7S11,5.6,10.2,4.8S8.5,3.7,7.5,3.7S5.6,4,4.8,4.8S3.7,6.5,3.7,7.5S4,9.4,4.8,10.2
	S6.5,11.3,7.5,11.3z"></path>
                            </svg>
                            </a>
            </div>

          </div>
        </header>
        <ul class="cards">
          <li class="cards-guidelines">



            <a href="" class="no-external-icon item">
              <div class="guideline-date">Dec 7 – Jan 7 </div>
              <div class="text">
                <h3>Public Comment Period </h3>
                Guideline Protocol Initiation of Treatment for Parkinson’s Disease
              </div>
            </a>
          </li>
          <li class="cards-guidelines">



            <a href="" class="no-external-icon item">
              <div class="guideline-date">Nov 2017</div>
              <div class="text">
                <h3>Practice Guideline</h3>
                Cervical and Ocular Vestibular Evoked Myogenic Potential Testing
              </div>
            </a>
          </li>
        </ul>
        <div class="view-all-mobile">
          <a href="/Guidelines">
    View All
</a>
        </div>
      </section>
    </div>
  </div>

  <div class="component-container">
    <div class="three-blocks-container">
      <div class="three-blocks events">

        <ul>
          <li class="cards-featured">


            <a href="/conferences-community/regional-conferences/breakthroughs-in-neurology/" class="no-external-icon">
              <div class="event-date">January 12 - 15</div>
              <div class="image cards-featured-img" style="background-image: url('/siteassets/home-page/conferences-and-community/3col_breakthroughs_1x.jpg')"></div>
              <div class="text">
                <h3>Breakthroughs in Neurology</h3>
                <p>Valuable CME credits and a year-in-review of the best neurology science and education—all from beautiful Orlando, FL. </p>
                <p class="cta-text">Register Now</p>
              </div>
            </a>
          </li>
          <li class="cards-featured">


            <a href="/conferences-community/regional-conferences/career-essentials-conference/" class="no-external-icon">
              <div class="event-date">January 13 - 15</div>
              <div class="image cards-featured-img" style="background-image: url('/siteassets/home-page/conferences-and-community/3col_careeressentials_1x.jpg')"></div>
              <div class="text">
                <h3>Career Essentials Conference</h3>
                <p>Family-friendly opportunity in sunny Orlando, FL, for early career neurologists to learn skills not taught in residency.</p>
                <p class="cta-text">Register Now</p>
              </div>
            </a>
          </li>
          <li class="cards-featured">


            <a href="/conferences-community/annual-meeting/" class="no-external-icon">
              <div class="event-date">April 21 - 27</div>
              <div class="image cards-featured-img" style="background-image: url('/siteassets/home-page/conferences-and-community/3col_18am_1x.jpg')"></div>
              <div class="text">
                <h3>Annual Meeting</h3>
                <p>The place to see and be seen in the world of neurology is set to steal the spotlight in Los Angeles, CA.</p>
                <p class="cta-text">Register Now</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</main>