<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #006243;"></span>
    <span class="sg-label">
			@aan-green <br />
			#006243
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #B58F31;"></span>
    <span class="sg-label">
			@aan-gold <br />
			#B58F31
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #222222;"></span>
    <span class="sg-label">
			@charcoal1 <br />
			#222222
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">
			@charcoal2 <br />
			#333333
		</span>
  </li>
</ul>
