  <!-- Padding for Pattern Lab Window ONLY -->
<style>
body {padding-top: 0;}
</style>
<!-- End Pattern Lab Window Style -->

{{> organisms-header }}
<main class="main resource-page">
  {{> molecules-breadcrumb }}
  <div class="main-body">
    <div class="main-content-wrapper">
      {{> molecules-resource-left-sidebar }}
      <div class="main-content resource-content">
        {{> molecules-section-page-title }}
        {{> molecules-wysiwyg-right-image }}
      </div>
    </div>
  </div>
  </main>    

{{> organisms-footer }}