<div class="form-wrapper">
  <h3>Access <em>exclusive information</em> only available to members of the AAN.</h3>
  <form>
    <fieldset>
      <label for="email">Email or 6-digit member ID <span>*</span></label>
      <input type="email" placeholder="Email or 6-digit member ID" id="email">
    </fieldset>
    <fieldset>
      <label for="password">Password <span>*</span></label>
      <input type="password" placeholder="Password" id="password">
    </fieldset>
    <div class="checkbox-wrapper">
      <div class="check-wrapper">
        <input type="checkbox" id="remember-me">
      </div>
      <label for="remember-me">Remember me</label>
    </div>
    <input type="Submit" value="Log In" class="submit">
  </form>
  <p>Forgot your password? <a href="">Recover now</a></p>
  <p><a href="">Contact Us</a></p>
</div>
