<section class="area-of-interest">
  <div class="interests-intro">
    <h5>Primary Subspeciality: <strong>Neuroimmunology and Multiple Sclerosis</strong></h5>
    <p><strong>Hone:</strong> You can edit the primary subspecialty on the <a href="">Practice Information</a> tab</p>
  </div>
  <div class="form-intro">
    <h5>Your area of interests</h5>
    <p>Select additional subspecialties and interests from the list below to <strong>further personalize</strong> the articles, events, and other content you see throughout the AAN.com and our publications.</p>
  </div>
  <form>
    <ul>
      <li>
        <h5>A-L</h5>
        <input type="checkbox" value="Autonomic Disorders" id="AutonomicDisorders">
        <label for="AutonomicDisorders">Autonomic Disorders</label>

        <input type="checkbox" value="Behavioral Neurology and Neuropsychiatry" id="BehavioralNeurologyandNeuropsychiatry">
        <label for="BehavioralNeurologyandNeuropsychiatry">Behavioral Neurology and Neuropsychiatry</label>

        <input type="checkbox" value="Child Neurology" id="ChildNeurology">
        <label for="ChildNeurology">Child Neurology</label>

        <input type="checkbox" value="Clinical Neurophysiology" id="ClinicalNeurophysiology">
        <label for="ClinicalNeurophysiology">Clinical Neurophysiology</label>

        <input type="checkbox" value="Endovascular and Interventional Neurology" id="EndovascularandInterventionalNeurology">
        <label for="EndovascularandInterventionalNeurology">Endovascular and Interventional Neurology</label>

        <input type="checkbox" value="Epilepsy" id="Epilepsy">
        <label for="Epilepsy">Epilepsy</label>

        <input type="checkbox" value="General Neurology" id="GeneralNeurology">
        <label for="GeneralNeurology">General Neurology</label>

        <input type="checkbox" value="Geriatric Neurology" id="GeriatricNeurology">
        <label for="GeriatricNeurology">Geriatric Neurology</label>

        <input type="checkbox" value="Headache Medicine" id="HeadacheMedicine">
        <label for="HeadacheMedicine">Headache Medicine</label>

        <input type="checkbox" value="Infectious Diseases and Neurovirology" id="InfectiousDiseasesandNeurovirology">
        <label for="InfectiousDiseasesandNeurovirology">Infectious Diseases and Neurovirology</label>

        <input type="checkbox" value="Movement Disorders" id="MovementDisorders">
        <label for="MovementDisorders">Movement Disorders</label>
      </li>
      <li>
        <h5>N-Z</h5>
        <input type="checkbox" value="Neural Repair and Rehabilitation" id="NeuralRepairandRehabilitation">
        <label for="NeuralRepairandRehabilitation">Neural Repair and Rehabilitation</label>

        <input type="checkbox" value="Neurocritical Care" id="NeurocriticalCare">
        <label for="NeurocriticalCare">Neurocritical Care</label>

        <input type="checkbox" value="Neuroepidemiology" id="Neuroepidemiology">
        <label for="Neuroepidemiology">Neuroepidemiology</label>

        <input type="checkbox" value="Neurogenetics" id="Neurogenetics">
        <label for="Neurogenetics">Neurogenetics</label>

        <input type="checkbox" value="Neurohospitalist" id="Neurohospitalist">
        <label for="Neurohospitalist">Neurohospitalist</label>

        <input type="checkbox" value="Neuroimaging" id="Neuroimaging">
        <label for="Neuroimaging">Neuroimaging</label>

        <input type="checkbox" value="Neuroimmunology and Multiple Sclerosis" id="NeuroimmunologyandMultipleSclerosis">
        <label for="NeuroimmunologyandMultipleSclerosis">Neuroimmunology and Multiple Sclerosis</label>

        <input type="checkbox" value="Neuromuscular Medicine" id="NeuromuscularMedicine">
        <label for="NeuromuscularMedicine">Neuromuscular Medicine</label>

        <input type="checkbox" value="Neuromuscular Pathology" id="NeuromuscularPathology">
        <label for="NeuromuscularPathology">Neuromuscular Pathology</label>

        <input type="checkbox" value="Neuro-oncology" id="Neuro-oncology">
        <label for="Neuro-oncology">Neuro-oncology</label>

        <input type="checkbox" value="Neuro-ophthalmology" id="Neuro-ophthalmology">
        <label for="Neuro-ophthalmology">Neuro-ophthalmology</label>

        <input type="checkbox" value="Neuro-otology" id="Neuro-otology">
        <label for="Neuro-otology">Neuro-otology</label>

        <input type="checkbox" value="Palliative Neurology" id="PalliativeNeurology">
        <label for="PalliativeNeurology">Palliative Neurology</label>

        <input type="checkbox" value="Pain Medicine" id="PainMedicine">
        <label for="PainMedicine">Pain Medicine</label>

        <input type="checkbox" value="Sleep Medicine" id="SleepMedicine">
        <label for="SleepMedicine">Sleep Medicine</label>

        <input type="checkbox" value="Sports Neurology" id="SportsNeurology">
        <label for="SportsNeurology">Sports Neurology</label>

        <input type="checkbox" value="Traumatic Brain Injury" id="TraumaticBrainInjury">
        <label for="TraumaticBrainInjury">Traumatic Brain Injury</label>

        <input type="checkbox" value="Vascular Neurology and Stroke" id="VascularNeurologyandStroke">
        <label for="VascularNeurologyandStroke">Vascular Neurology and Stroke</label>
      </li>
    </ul>
  </form>
</section>
