<div class="form-info">
  <h3>Not yet a member?</h3>
  <p>By becoming a member of the AAN, you can receive exclusive information to help you at every stage of your career. Key benefits are:</p>
  <ul>
    <li>All of the AAN resources you need are easy to find</li>
    <li>You can access your AAN puplications quickly</li>
    <li>Your FREE CME &amp; MOC resources are integrated</li>
    <li>Mobile-friendly design allows you to access AAN resources from your phone</li>
  </ul>
  <p>
    <a href="">Join Now</a>
    <a href="">See All Benefits</a>
  </p>
</div>
