<fieldset class="member-profile-form">
  <div class="form-wrap">
    <div class="form-title">
      <h4>Account Info</h4>
    </div>
    <div class="form-fields">
      <div class="field">
        <label for="email" class="required">Email</label>
        <input id="email" placeholder="Email" type="email" required="required"/>
      </div>
      <div class="field">
        <label for="security" class="required">Security Question</label>
        <input id="security" placeholder="Security Question" type="text" required="required"/>
      </div>
      <div class="field">
        <label for="password" class="required">Password</label>
        <input id="password" placeholder="Password" type="password" required="required"/>
      </div>
    </div>
  </div>
</fieldset>
