<div class="questionnaire-wrapper">
  <div class="inner-wrapper">
    <form>
      <fieldset>
        <p>First, tell us a little bit about yourself so we can make sure you are placed in the appropriate membership and receive the most relevant benefits and information.</p>
        <label>Are you are neurologist?</label>
        <ul>
          <li>
            <a href="" class="submit">Yes</a>
          </li>
          <li>
            <a href="" class="submit">No</a>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
</div>
