<div class="credits-wrapper">
  <h2>My Credits Earned</h2>
  <ul>
    <li>
      <div class="credits">82912.75</div>
      <div class="text">Continuing Medical Education (CME) Credits</div>
    </li>
    <li>
      <div class="credits">4193.25</div>
      <div class="text">Self-Assessment (SA) CME Credits</div>
    </li>
    <li>
      <div class="credits">180.50</div>
      <div class="text">Non-CME SAt</div>
    </li>
    <li>
      <div class="credits">20.75</div>
      <div class="text">Performance in Practice Modules (PIP)</div>
    </li>
  </ul>
  <a href="">CME Downloads</a>
</div>
