<header class="section-page-title">
  <h2>Macra</h2>
  <div class="text-container">
    <p>Learn aboutthe changing landscape of medical reimbursement and how it affects your practice.</p>
    <p>MACRA is a separate piece of legislation from the Affordable Care Act (ACA), also known as Obamacare. Unlike the ACA, MACRA passed with wide bipartisan support. Although some components of these laws are intertwined, <strong>major changes to the ACA under the administration will not eliminate MACRA</strong>.</p>
  </div>
</header>