<div class="tabbed-row">
  <div class="inner-wrapper">
    <div class="tabs">
      <ul class="tab-menu">
        <li>
          <a href="">Basic Information</a>
        </li>
        <li>
          <a href="">Practice Information</a>
        </li>
        <li>
          <a href="">Directory Settings</a>
        </li>
        <li class="active">
          <a href="">Personalization</a>
        </li>
        <li>
          <a href="">My Activities</a>
        </li>
      </ul>
    </div>
  </div>
</div>
