<div class="subnav">
  <ul>
    <li>
      <a href="">Practicing Neurologists &amp; Administrators</a>
      <aside class="description">
        <h3>Practicing Neurologists &amp; Administrators</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia interdum mauris.</p>
      </aside>
    </li>
    <li>
      <a href="">Academic Neurologitsts &amp; Researchers</a>
    </li>
    <li>
      <a href="">Residents &amp; Fellows</a>
    </li>
    <li>
      <a href="">Advanced Practice Providers</a>
    </li>
    <li>
      <a href="">Medical Students</a>
    </li>
    <li>
      <a href="">Patients &amp; Caregivers</a>
    </li>
</div>
