<div class="advertisement-wrapper">
  <aside class="advertisement">
    <span>Advertisement</span>
    <img srcset="http://placehold.it/300x250 320w, http://placehold.it/728x90 768w" sizes="(max-width: 767px) 300px, (min-width: 768px) 728px">
  </aside>
</div>
