<div class="component-container link-module">
  <div class="inner-wrapper">
    <h2>AAN Tools &amp; Resources</h2>
    <ul>
      <li><a href="">MACRA Overview</a></li>
      <li><a href="">Learn New Acronyms Associated with MACRA</a></li>
      <li><a href="">Watch the AAN video series about MACRA</a></li>
    </ul>
    <ul>
      <li><a href="">View Your Guide to MACRA</a></li>
      <li><a href="">Top 5: Things You Can Do Today to Prepare for MACRA</a></li>
      <li><a href="">Contat the AAN with your MACRA Questions</a></li>
    </ul>
  </div>
</div>
