<div class="component-container">
  <p class="cards-tag">The QPP has two pathways: <strong>Merit-based Incentive Payment System (MIPS)</strong> and <strong>Advanced Alternative Payment Models (AMPs)</strong>:</p>
  <ul class="cards">
    <li>
      <a href="">
        <div class="card-info">
          <h3>Sports Concussion Toolkit</h3>
          <p>Resources for physicians, coaches, parents, and athletes.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="card-info">
          <h3>Updates on Zika</h3>
          <p>exercitationem reiciendis unde comque est tempore numquam explicabo ipsa us explicabo sint sunt labore fuga</p>
        </div>
      </a>
    </li>
  </ul>
</div>
