<div class="wysiwyg-container">
  <article class="inner-wrapper">
    <div class="inner-image image-right">
      <img src="https://lh3.googleusercontent.com/MxDjxiVJEXfnAAF_XWpcnjwJuJIpZKpubfcSAQie0_Mrn3AY0zdIic9mCeBu6xLpC4SXnfimyiscmHnNGEGlsJQDsCXJY4QzXTGelAN73rNj0rKOuzd2aOcmFsMbmBk-5EnxLsIyjMITDDZlDnCS0bayVDbFXutCH1REfBAYi1AkaGb0i2p6hmUHLe_oom0N06Fax84bfUvbiRGcU-j7BrNlLZaadE-iQeWrIMvzgHtGpb4M-6FVEKXbPJ6EOAxjLWmHMRrYta37bXQPMeYkhkvJ8OF-8qwozXbwMpl9N3MyaTF5XgYyjQgMFDJI0YVKBxx05ifE7nvgncNsKbDeN-3gjquEFdF2nmSaqDEWcoxzV9BpcCfVkpxdJuU_g6eEnlpV40_3k_1FdgAOko8vrLeW99IXkj5tD7avnxozCsP_hsGs1Tq6jVVljeU9dh1QwA-DhaAXoLH3WySmizZlm9_CYP4lr7PcDIrEn8-d9OIZgzCaluwofdMWx2lQGU9isvvHqKDNly0upHz3eDqvWaELQqFLJXM9SVS2ep89411se3X9VsCLCE_gG-U74sOec8COn23Npy-eU2sVHzql19nF9M9vVqofqYluuE4=w350-h279-no" alt="">
      <div class="description">
        Lyell K. Jones Jr., MD
        <small>Dolor lorem ipsum dolor sit amet, consectetur nunc lorem amet dolor adipiscing elit.</small>
      </div>
    </div>
    <h3>Dolor Munc Amet Lorem Ipsum</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc felis, commodo ut consequat ut, fermentum quis sapien. Aenean commodo purus vel urna aliquet auctor. Duis diam ante, eleifend ac imperdiet quis, tristique at purus. Vivamus lacinia nisl a euismod suscipit. Curabitur pellentesque lacus est, eget placerat sem mattis ac.
    </p>
    <p>
      <strong>Praesent ac lorem vel orci feugiat maximus.</strong> Aliquam in quam mollis, venenatis urna id, suscipit erat. Sed tempus finibus commodo. Fusce finibus pretium enim a pellentesque. Aliquam tincidunt efficitur sapien, ut ullamcorper metus porttitor id. Nunc pellentesque orci sit amet eros porttitor, quis mattis mi lobortis. Nullam ac sapien sapien. Vestibulum eleifend elit quis placerat auctor. Ut id cursus eros, a efficitur augue. Maecenas nulla lacus, scelerisque id turpis vel, sagittis rutrum risus.
    </p>
  </article>
</div>
