<div class="universal-container">
  <section class="nav-universal">
    <div class="inner-wrapper">
      <div class="publications">
        <a class="publications-button" href="">Our Publications</a>
      </div>
      <div class="user-tools">
        <div class="user">
          <a href="">
            <img src="http://placehold.it/40x40" />
            <span>Loremipsum Dolorsitamet Cosectetuerad-IpiscingelitAenea, MD, PHD, MPH</span>
          </a>
        </div>
      </div>
      <a class="search-button" href=""></a>
    </div>
  </section>
</div>