<div class="description-wrapper">
  <section class="inner-wrapper">
    <div class="section-title">
      <h2>Browse Abstracts</h2>
      <div class="section-text">
        <p>corrupti voluptates et ratione corrupti totam eveniet consequatur veniam eligendi eos magni in delectus iste magni veritatis tenetur laudantium eum et sed fuga porro tempore enim vitae architecto omnis aperiam ad aut voluptatem tempora ad laudantium
          qui soluta mollitia dolorem non magnam reiciendis fugiat repellendus eligendi quidem qui unde alias</p>
        <div class="section-button-wrapper">
          <a href="" class="submit">Browse Now</a>
        </div>
      </div>
    </div>
  </section>
</div>