<table>
  <tbody>
    <tr>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
    </tr>
    <tr>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
    </tr>
    <tr>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
    </tr>
    <tr>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
    </tr>
    <tr>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
    </tr>
    <tr>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
      <td class="table-body">Abcde efg hijklmnop qrst uvwxyz</td>
    </tr>
  </tbody>
</table>
