<div class="three-column-wrapper">
  <div class="inner-wrapper">
    <ul class="flex-list">
      <li>
        <a href="">
          <div class="three-col-710"></div>
          <div class="three-text">
            <h3 class="cm2-head">
              deserunt et ipsam
            </h3>
            <div class="user">
              <span class="image-user">
                <img src="http://placehold.it/40x40" alt="Authors Name Image">
              </span>
              <span class="text-user">
                <span class="user-name">Christopher J. Boes, MD, FAAN</span>
                <span>January 1 at 12:44pm</span>
              </span>
            </div>
            <p class="cm2-body">reiciendis laudantium debitis non vitae qui ut tempore sapiente dolore</p>
            <p class="cm2-body highlight-link">See All</p>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="three-col-710"></div>
          <div class="three-text">
            <h3 class="cm2-head">
              cupiditate ut veritatis laboriosam cupiditate in
            </h3>
            <p class="cm2-body">voluptatem tenetur placeat voluptates labore quaerat sint dolorem hic et molestiae soluta modi tempore quo facilis aut quae placeat voluptatem</p>
            <p class="cm2-body highlight-link">See All</p>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="three-col-710"></div>
          <div class="three-text">
            <h3 class="cm2-head">
              deserunt et ipsam
            </h3>
            <div class="user">
              <span class="image-user">
                <img src="http://placehold.it/40x40" alt="Authors Name Image">
              </span>
              <span class="text-user">
                <span class="user-name">Christopher J. Boes, MD, FAAN</span>
                <span>January 1 at 12:44pm</span>
              </span>
            </div>
            <p class="cm2-body">reiciendis laudantium debitis non vitae qui ut tempore sapiente dolore</p>
            <p class="cm2-body highlight-link">See All</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
