<div class="image-banner">
  <section class="inner-wrapper">
    <div class="image-guideline">
      <img src="../../css/images/fpo/guidelines.png"/>
    </div>
    <div class="image-text">
      <h3>suscipit et et corporis corrupti et nisi omnis odio voluptatum qui ipsum tempora aspernatur optio</h3>
    </div>
  </section>
</div>
