<div class="li-header">
  <div class="inner-wrapper">
    <header>April 21-27, 2018</header>
    <section>
      <div class="lih-image"></div>
      <div class="register-now">
        <div class="description">
          <h3>Synapse: a community of your peers</h3>
          <p>Los Angeles, CA</p>
        </div>
        <div class="button">
          <a class="submit" href="">Register Now</a>
          <a href="" class="link">View Past Annual Meetings</a>
        </div>
      </div>
    </section>
  </div>
</div>
