<aside class="search-sidebar">
  <ul>
    <li class="active"><a href="">All (30414)</a></li>
    <li><a href="">nostrum (3085)</a></li>
    <li><a href="">et eos (543)</a></li>
    <li><a href="">sit cum (201)</a></li>
    <li><a href="">ipsa (176)</a></li>
    <li><a href="">cupiditate (103)</a></li>
  </ul>
</aside>
