<div class="event-hero">
  <div class="event-wrapper">
    <div class="inner-wrapper">
      <div class="left-wrapper">
        <div class="text-wrapper">
          <p class="event-date">April 21 - 27 | <strong>Los Angeles</strong></p>
          <h1 class="event-header"><span>AAN 2018</span> Annual Meeting</h1>
          <p class="event-sub-header">Advancing Neurology. Advancing You.</p>
          <div class="two-col">
            <div class="event-info-col">
              <p>Early Registration: <strong>March 30, 2018</strong></p>
              <p>Hotel Deadline: <strong>March 8, 2018</strong></p>
            </div>
            <div class="link-col">
              <a class="submit" href="">Register Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
