<div class="error-page">
  <div class="inner-wrapper">
    <div class="text">
      <h1>Uh-Oh</h1>
      <h4>We can't seem to find the page you're looking for.</h4>
      <p>Maybe the page was moved or deleted.</p>
      <p>Here are some  helpful links instead:</p>
      <ul>
        <li><a href="">Neurology on the Hill</a></li>
        <li><a href="">Neurology Events</a></li>
        <li><a href="">Digital Resource Library</a></li>
        <li><a href="">Course Listing</a></li>
      </ul>
    </div>
    <div class="image-error"></div>
  </div>
</div>
