<div class="outer-wrapper">
  <div class="inner-wrapper">
    <section class="image-module">
      <div class="image-wrapper">
        <img src="../../css/images/fpo/clinical-practice-pubs.png">
      </div>
      <div class="text-wrapper">
        <h2>dolores debitis aliquid</h2>
        <p>Lorem optio sit minus rem non blanditiis dolore illum ullam sint omnis laudantium aut quia tenetur saepe quos nesciunt molestiae quaerat quae labore eos maxime mollitia</p>
        <a href="">Visit Site</a>
      </div>
    </section>
  </div>
</div>