<div class="hero">
  <div class="hero-text">
    <p class="homepage-sub-head">Hello Doctor Practicing Pat</p>
    <h1 class="homepage">Join <span class="highlight-text">Axon Registry</span> to Save Money &amp; Improve Care</h1>
    <div class="button-wrapper">
      <a href="" class="submit">Join Now</a>
    </div>
  </div>
  <div class="hero-image">

  </div>
</div>
