<div class="grey-wrapper">
  <section class="inner-wrapper">
    <div class="image">
      <img src="http://placehold.it/120x113" alt="ACCME Accredited With Commendation Logo">
    </div>
    <div class="text">
      <p>The American Academy of Neurology Institute (AANI) is accredited by the <strong>Accreditation Council for Continuing Medical Education (ACCME)</strong>. The AAN holds Accreditation with Commendation, the ACCME highest level of recognition for a
        CME provider.</p>
      <a href="">View the CME Mission Statement</a>
    </div>
  </section>
</div>