<div class="scroll-wrapper">
  <section class="inner-wrapper">
    <div class="left-info">
      <header class="scroll-follow">
        <h2 class="cm-sub-head">Recent Guidelines</h2>
        <p class="link-wrapper">
          <a href="" class="submit">View All</a>
        </p>
      </header>
    </div>
    <ul class="cards">
      <li class="card-guideline">
        <a href="">
          <div class="guideline-date">Dec 2011</div>
          <div class="card-info">
            <h3>neque id ut</h3>
            <p>delectus corporis in voluptatem culpa qui aut qui consequatur voluptate</p>
          </div>
        </a>
      </li>
      <li class="card-guideline">
        <a href="">
          <div class="guideline-date">Dec 2011</div>
          <div class="card-info">
            <h3>neque id ut</h3>
            <p>delectus corporis in voluptatem culpa qui aut qui consequatur voluptate</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>
