<div class="scroll-wrapper featured-cards-wrapper">
  <section class="inner-wrapper">
    <div class="left-info">
      <header class="scroll-follow">
        <h2 class="cm-sub-head">Reimbursement &amp; Payment Reform</h2>
        <p class="desc-text">
          Manage your practice effectively with these tools and resources.
        </p>
      </header>
    </div>
    <ul class="cards">
      <li class="card-module">
        <a href="">
          <div class="card-info">
            <h3>Billing &amp; Coding</h3>
            <p>delectus corporis in voluptatem culpa qui aut qui consequatur voluptate</p>
          </div>
        </a>
      </li>
      <li class="card-module">
        <a href="">
          <div class="card-info">
            <h3>Macra</h3>
            <p>Access recordings and read Q&A for AAN's Practice Management Webinar, "Decoding the 2017 Medicare Physician Fee Schedule and MACRA Rule."</p>
          </div>
        </a>
      </li>
      <li class="card-featured">
        <a href="">
          <div class="featured-img"></div>
          <div class="card-info">
            <h3>Featured: Macra</h3>
            <p>Sed et in quaerat itaque autem cupiditate et ut laudantium quis.</p>
          </div>
        </a>
      </li>
      <li class="double-card">
        <a href="">
          <div class="card-info">
            <h3>Alternative Payment Modal</h3>
            <p>Sed unde est error ut iste non ipsum ea non dolorem odio sit possimus vel et</p>
          </div>
        </a>
        <a href="">
          <div class="card-info">
            <h3>Alternative Payment Modal</h3>
            <p>Sed perferendis delectus et totam beatae ad consequatur repellendus vero aut minima aut at architecto ducimus</p>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>
