<div class="neuro-wrapper">
  <section class="inner-wrapper">
    <div class="image neurotracker">
                <!--?xml version="1.0" encoding="utf-8"?-->
      <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="neurotracker_logo" xmlns="" x="0px" y="0px" viewBox="0 0 401.9 93.2" enable-background="new 0 0 401.9 93.2" xmlns:xlink="" xml:space="preserve">
      <path id="neuro" ></path>
      <path id="tracker"></path>
      </svg>

    </div>
    <div class="text">
      <p>Track your AAN, non-AAN CME credits, and other professional activities in one place.</p>
      <ul>
        <li>
          <a href="">Sign In To View</a>
        </li>
        <li>
          <a href="">Become a Member</a>
        </li>
      </ul>
    </div>
  </section>
</div>
