<div class="secondary-hero">
  <div class="inner-wrapper">
    <header>
      <p class="category-parent">
        <a href="">Policies &amp; Guidelines</a>
      </p>
      <h1 class="secondary-header">Guidelines</h1>
    </header>
    <div class="banner-image">
      <img src="../../css/images/fpo/secondary-hero-bg3.png"/>
    </div>
  </div>
</div>
