<!-- padding for Patternlab templates ONLY -->
<style>
body {padding-top: 0;background-color:#ffffff;}
html {background-color:#ffffff;}
</style>
<header class="header-wrapper">
  {{> molecules-universal-nav }}

  {{> molecules-main-menu }}
</header>

<div class="hero">
  <div class="hero-text">
    <p class="homepage-sub-head">Hello Doctor Practicing Pat</p>
    <h1 class="homepage">Join <span class="highlight-text">Axon Registry</span> to Save Money &amp; Improve Care</h1>
    <div class="button-wrapper">
      <a href="" class="submit">Join Now</a>
    </div>
  </div>
  <div class="">
  <img src="../../images/Books.jpg">

  </div>
</div>

{{> organisms-footer }}