<div class="left-image-module">
  <div class="inner-wrapper">
    <a href="">
      <div class="left-image">
      </div>
      <div class="card-info">
        <h3>deserunt consequatur officia</h3>
        <p>magnam qui veniam nisi error nemo sed qui vel aut et dolore quo tenetur voluptatem voluptatem</p>
        <span class="cta-text">Learn More</span>
      </div>
    </a>
  </div>
</div>