<!-- padding for Patternlab templates ONLY -->
<style>
  body {
    padding-top: 0;
  }
</style>
<!-- header -->

{{> organisms-header-signed-in }}

<!-- end header -->
<!-- multi-step form -->

<section class="full-content top">
  <div class="component-container">
    <div class="simple-title">
      <h2>AAN Neurologist Application</h2>
      <p>
        For physicians who are fully trained in clinical neurology.
      </p>











      <p><strong>Step 1 of 5</strong> - General Information</p>
    </div>
  </div>


</section>

<section class="full-content">
  <div class="component-container">
    <form action="/MembershipApplication/Home/ExistingMemberSearch" class="multistep-form" id="membershipSearchForm" method="post">
      <fieldset class="step">
        <div class="multistep-form-fields">
          <div class="field">
            <label>First Name <span class="required">*</span></label>
            <input id="FirstName" name="FirstName" placeholder="First Name" type="text" value="">

          </div>
          <div class="field">
            <label>Last Name <span class="required">*</span></label>
            <input id="LastName" name="LastName" placeholder="Last Name" type="text" value="">
          </div>

          <input type="submit" id="searchForExistingBtn" value="Continue">
          <input style="display: none;" type="submit" id="notSearchForExistingBtn" value="Continue">

        </div>


        <div id="searchingForResults" style="display: none;">
          <h3 style="text-align: center;">
            Searching For Results <img src="/MembershipApplication/Content/LoadingGif.gif">
          </h3>
        </div>
        <div id="existingSearchResults" style="display: none;">
          <div id="foundExistingPeopleDiv" class="component-container" style="display: none; text-align: center; width: 500px; margin-left: auto; margin-right: auto;">
            <h4>This name is already in our database. If you see your profile below, select it to continue.</h4>
          </div>
          <br>
          <table id="searchResultsTable" border="0">
            <caption>Matching Records</caption>
            <thead>
              <tr>
                <td></td>
                <td>First Name</td>
                <td>Middle Name</td>
                <td>Last Name</td>
                <td>Location</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <div class="txt-center reg-bot-margin btn-stacked clearfix">
            <div id="mustSelectRadioButton" style="display: none;">
              <p class="required">
                You must select one of the options above
              </p>
            </div>
            <div>

            </div>
            <input data-val="true" data-val-number="The field MembershipTypeID must be a number." data-val-required="The MembershipTypeID field is required." id="MembershipTypeID" name="MembershipTypeID" type="hidden" value="30">
            <input id="IsQuickpay" name="IsQuickpay" type="hidden" value="False">
          </div>
        </div>

      </fieldset>
    </form>



  </div>

</section>



<!-- end multi-step form-->
<!-- footer -->
{{> organisms-footer }}
<!-- end footer -->