<!-- padding for Patternlab templates ONLY -->
<style>
  body {
    padding-top: 0;
  }
</style>
{{> organisms-header }}

<main class="main resource-page">
  {{> molecules-breadcrumb }}
  <div class="main-body">
    <div class="main-content-wrapper">
      {{> molecules-resource-left-sidebar }}
      <div class="main-content resource-content">
        {{> molecules-section-page-title }} {{> molecules-video }} {{> molecules-announcements-green }} {{> molecules-cards }} {{> molecules-announcements-light-green }} {{> molecules-table }} {{> molecules-accordian }} {{> molecules-link-module }} {{> molecules-two-col-link-module
        }} {{> molecules-related-content }} {{> molecules-wysiwyg-center-image }} {{> molecules-wysiwyg-left-image }} {{> molecules-wysiwyg-right-image }}
      </div>
    </div>
  </div>
</main>

{{> organisms-footer }}