<aside class="left-nav-wrapper">
  <nav class="left-nav">
    <ul>
      <li>
        <a href="">Link One</a>
      </li>
      <li class="active">
        <a href="">Link Two</a>
      </li>
      <li>
        <a href="">Link Three</a>
      </li>
      <li>
        <a href="">Link Four</a>
      </li>
      <li>
        <a href="">Link Five</a>
      </li>
    </ul>
  </nav>
</aside>