<div class="scroll-wrapper scroll-two">
  <section class="inner-wrapper">
    <div class="left-info">
      <header class="scroll-follow">
        <h2 class="cm-sub-head">Browse by Topic</h2>
        <p>The AAN also develops guideline summaries as educational tools for neurologists, patients, family members, caregivers, and the public.</p>
        <p>You may download and retain a single copy for your personal use. Please contact
        <a href="http://replace.com/DF7VMT9GPMWE3MPG" aria-label="guidelines@aan.com">guidelines@aan.com</a>
         to learn about options for sharing this content beyond your personal use.</p>
      </header>
    </div>
    <ul class="cards">
      <li class="card-guideline">
        <a href="">
          <div class="card-text">
            <h3>neque id ut</h3>
          </div>
        </a>
      </li>
      <li class="card-guideline">
        <a href="">
          <div class="card-text">
            <h3>aut laudantium vero qui voluptatibus eos</h3>
          </div>
        </a>
      </li>
      <li class="card-guideline">
        <a href="">
          <div class="card-text">
            <h3>neque id ut</h3>
          </div>
        </a>
      </li>
      <li class="card-guideline">
        <a href="">
          <div class="card-text">
            <h3>neque id ut</h3>
          </div>
        </a>
      </li>
      <li class="card-guideline">
        <a href="">
          <div class="card-text">
            <h3>aut laudantium vero qui voluptatibus eos</h3>
          </div>
        </a>
      </li>
      <li class="card-guideline">
        <a href="">
          <div class="card-text">
            <h3>neque id ut</h3>
          </div>
        </a>
      </li>
      <li class="card-guideline">
        <a href="">
          <div class="card-text">
            <h3>neque id ut</h3>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>
