<section class="interests-title">
  <h4>Personalize Your Experience</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam <strong>lacinia interdum</strong> mauris sit amet luctus. Nullam condimentum tellus ut turpis aliquam, non cursus magna gravida.</p>
</section>
