<aside class="right-side-bar">
  <div class="inner-wrapper">
    <section class="member-info">
      <h3>Neurologists Membership</h3>
      <ul>
        <li>United States
          <span class="rate">$465/yr</span>
        </li>
        <li>International
          <span class="rate">$420/yr</span>
        </li>
      </ul>
    </section>
    <section class="quote">
      <blockquote>
        Joining AAN has boosted my career in that I have access to so much more information and colleagues
      </blockquote>
      <small>Dr. John Jordan, New York-Presbyterian Hospital</small>
    </section>
  </div>
</aside>
