<div class="spacing">
  {{> molecules-text-field }}
</div>
<div class="spacing">
  {{> molecules-text-area }}
</div>
<div class="spacing">
  {{> molecules-select-menu }}
</div>
<div class="spacing">
  {{> molecules-radio-button }}
</div>
<div class="spacing">
  {{> molecules-checkbox }}
</div>
<div class="spacing">
  {{> molecules-date }}
</div>
<div class="spacing">
  {{> molecules-email }}
</div>
<div class="spacing">
  {{> molecules-number }}
</div>
<div class="spacing">
  {{> atoms-submit }}
</div>
