<div class="login-modal">
  <button class="close">
    <span class="icon-close"></span>
  </button>

  <h2>Member Log In</h2>

  <div class="form-container">
    {{> molecules-member-login }}
    {{> molecules-member-info }}
  </div>
</div>
