<!-- padding for Patternlab templates ONLY -->
<style>
body {padding-top: 0;}    
</style>

<!-- header -->
<header class="header-wrapper">
  {{> molecules-universal-nav-signed-in }} {{> molecules-main-menu }}
</header>
<!-- end header -->
 <br>
<div class="component-container">
    <section class="component row-collapse">
        <table border="0"><caption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </caption>
<tbody>
<tr>
<td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
<td></td>
</tr>
<tr>
<td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
<td></td>
</tr>
<tr>
<td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
<td><span></td>
</tr>
<tr>
<td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
<td></td>
</tr>
<tr>
<td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
<td></td>
</tr>
<tr>
<td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
<td></td>
</tr>
<tr>
<td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
<td></td>
</tr>
<tr>
<td><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></td>
<td></td>
</tr>
</tbody>
</table>
    </section>
</div>

<!-- footer -->
{{> organisms-footer }}
<!-- end footer -->